.project {
  $this: &;

  @include block-margin();

  &__main {
    display: flex;
    align-items: flex-end;
    @include mobile() {
      flex-direction: column;
    }
  }

  &__info {
    width: calc(50% + #{vw-size(180)});
    padding-right: vw-size(60);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include mobile() {
      width: 100%;
    }
  }

  &__picture {
    flex: 1;
    min-width: 0;
    height: vw-size(880);
    filter: grayscale(100%);
    @include anim2(filter);

    @include mobile() {
      margin-top: vw-size-sm(60);
    }

    &:hover {
      filter: none;
    }

    img {
      display: block;
      width: calc(100% + #{vw-size(90)});
      height: 100%;
      object-fit: cover;
      @include mobile() {
        width: 100%;
      }
    }
  }

  &__category {
    @include h4();
    padding: vw-size(8);
    background: $red;
    margin-bottom: vw-size(48);
    @include mobile() {
      padding: vw-size-sm(2) vw-size-sm(5);
      margin-bottom: vw-size-sm(15);
    }
  }

  &__title {
    text-transform: uppercase;
    @include h1();
  }

  &__items {
    width: 100%;
    margin-top: vw-size(70);
    margin-bottom: -#{vw-size(30)};
    display: flex;
    flex-wrap: wrap;
    @include mobile() {
      margin-top: 50px;
      margin-bottom: 0;
    }
  }

  &__item {
    width: 50%;
    border-left: vw-size(4) solid $cyan;
    padding-left: vw-size(40);
    margin: vw-size(30) 0;
    @include mobile() {
      border-left: vw-size-sm(4) solid $cyan;
      padding-left: vw-size-sm(24);
      width: 100%;
      margin: 0 0 vw-size-sm(40) 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    @include manrope();
    @include font-size(16);
    line-height: 1;
    letter-spacing: .4em;
    margin-bottom: vw-size(20);
    color: $gray2;
    @include mobile() {
      @include font-size-sm(12);
      margin-bottom: vw-size-sm(8);
    }
  }

  &__value {
    @include h4_regular();
  }

  &__images {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__image {
    margin-top: vw-size(120);
    filter: grayscale(100%);
    @include anim2(filter);

    @include mobile() {
      margin-top: vw-size-sm(60);
    }

    &:hover {
      filter: none;
    }

    &:nth-child(3n + 1) {
      width: 100%;
      justify-content: flex-end;
      @include cf();

      img {
        float: right;
        width: calc(100% + #{vw-size(90)});
        @include mobile() {
          float: none;
          width: 100%;
        }

      }
    }

    &:nth-child(3n + 2) {
      width: 65%;
      padding-right: vw-size(120);

      @include mobile() {
        width: 100%;
        padding: 0;
      }

      img {
        width: 100%;
      }
    }

    &:nth-child(3n + 3) {
      width: 35%;
      @include mobile() {
        width: 100%;
      }

      img {
        width: calc(100% + #{vw-size(90)});
        @include mobile() {
          width: 100%;
        }

      }
    }

    @include mobile() {
      &:nth-child(2n) {
        img {
          width: calc(100% + #{vw-size-sm(25)});
        }
      }

      &:nth-child(2n + 1) {
        @include cf();

        img {
          float: right;
          width: calc(100% + #{vw-size-sm(25)});
        }
      }
    }


    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}