.project {
  $this: &;

  padding-bottom: vw-size(230);

  &__main {
    display: flex;
    align-items: flex-end;
  }

  &__info {
    width: calc(50% + #{vw-size(180)});
    padding-right: vw-size(60);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__picture {
    flex: 1;
    min-width: 0;
  }

  &__category {
    @include h4();
    padding: vw-size(8);
    background: $red;
    margin-bottom: vw-size(48);
  }

  &__title {
    text-transform: uppercase;
    @include h1();
    @include font-size(110);
  }

  &__items {
    width: 100%;
    margin-top: vw-size(70);
    margin-bottom: -#{vw-size(30)};
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    border-left: vw-size(4) solid $cyan;
    padding-left: vw-size(40);
    margin: vw-size(30) 0;
  }

  &__label {
    @include manrope();
    @include font-size(16);
    line-height: 1;
    letter-spacing: .4em;
    margin-bottom: vw-size(20);
    color: $gray2;
  }

  &__value {
    @include h4_regular();
  }

  &__picture {
    height: vw-size(880);

    img {
      display: block;
      width: calc(100% + #{vw-size(90)});
      height: 100%;
      object-fit: cover;
    }
  }

  &__images {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__image {
    margin-top: vw-size(120);

    &:nth-child(3n + 1) {
      width: 100%;
      justify-content: flex-end;
      @include cf();

      img {
        float: right;
        width: calc(100% + #{vw-size(90)});
      }
    }

    &:nth-child(3n + 2) {
      width: 65%;
      padding-right: vw-size(120);

      img {
        width: 100%;
      }
    }

    &:nth-child(3n + 3) {
      width: 35%;

      img {
        width: calc(100% + #{vw-size(90)});
      }
    }

    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}