.projectsHead {
  $this: &;

  @include block-margin();

  &__title {
    @include h1();
    text-align: center;
    @include mobile() {
      @include h2();
      margin-bottom: vw-size-sm(20);
    }
  }

  &__switch {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw-size(230);
      height: vw-size(60);
      border: vw-size(2) solid $gray3;
      @include h4_regular();
      text-decoration: none;
      margin: 0 -#{vw-size(1)};
      @include anim2(border-color color);
      @include mobile() {
        @include h4_regular();
        width: vw-size-sm(140);
        height: vw-size-sm(50);
      }

      &.active {
        z-index: 1;
        border-color: $cyan;
      }

      &:hover {
        color: $cyan;
      }
    }
  }
}