.projectsHead {
  $this: &;

  margin: vw-size(230) 0;

  &__title {
    @include h1();
    text-align: center;
    margin-bottom: vw-size(45);
  }

  &__switch {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw-size(230);
      height: vw-size(60);
      border: vw-size(2) solid $gray3;
      @include h4_regular();
      text-decoration: none;
      @include anim();
      margin: 0 -vw-size(1);

      &.active {
        z-index: 1;
        border-color: $cyan;
      }

      &:hover {
        color: $cyan;
      }
    }
  }
}