.benefits {
  $this: &;

  margin: 230px 0;

  &__title {
    @include h3();
    margin-bottom: 100px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -60px -30px;

  }

  &__item {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    max-width: 540px;
    margin: 60px 30px;

    &--01 {
      color: $pink;
    }

    &--02 {
      color: $yellow;
    }

    &--03 {
      color: $cyan;
    }

    &--04 {
      color: $purple;
    }

    &--05 {
      color: $red;
    }

    &--wide {
      max-width: 840px;
    }
  }

  &__icon {
    width: 44px;
    height: 44px;
    position: relative;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      top: 34px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: currentColor;
      filter: blur(20px);
    }
  }

  &__text {
    margin-left: 36px;
    color: $white;
    @include h6();
    @include manrope();
  }
}