.benefits {
  $this: &;

  @include block-margin();

  &__title {
    @include h3();
    margin-bottom: vw-size(100);
    @include mobile() {
      margin-bottom: vw-size-sm(30);
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -#{vw-size(60)} -#{vw-size(30)};
    @include mobile() {
      margin: 0;
    }
  }

  &__item {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    max-width: vw-size(540);
    margin: vw-size(60) vw-size(30);
    @include mobile() {
      max-width: 100%;
      width: 100%;
      margin: 0 0 vw-size-sm(35) 0;
    }

    &--01 {
      color: $pink;
    }

    &--02 {
      color: $yellow;
    }

    &--03 {
      color: $cyan;
    }

    &--04 {
      color: $purple;
    }

    &--05 {
      color: $red;
    }

    &--wide {
      max-width: vw-size(840);
      @include mobile() {
        max-width: 100%;
      }
    }
  }

  &__icon {
    width: vw-size(44);
    height: vw-size(44);
    position: relative;
    flex-shrink: 0;
    @include mobile() {
      width: vw-size-sm(36);
      height: vw-size-sm(36);
    }

    svg {
      width: 100%;
      height: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      top: vw-size(34);
      left: 50%;
      transform: translateX(-50%);
      width: vw-size(30);
      height: vw-size(30);
      border-radius: 50%;
      background: currentColor;
      filter: blur(vw-size(20));
      @include mobile() {
        top: vw-size-sm(26);
        width: vw-size-sm(26);
        height: vw-size-sm(26);
        filter: blur(vw-size-sm(20));
      }
    }
  }

  &__text {
    margin-left: vw-size(36);
    color: $gray2;
    @include h6();
    @include manrope();
    @include mobile() {
      width: 100%;
      margin-left: vw-size-sm(16);
    }
  }
}