.benefits
  .c
    .benefits__title
      | ВНЕДРЕНИЕ ЭКО-ФИТНЕСА #[br]
      | В ВАШЕ ПРОСТРАНСТВО ОБЕСПЕЧИВАЕТ:
    .benefits__items
      .benefits__item.benefits__item--01
        .benefits__icon: +the_svg('benefits_01')
        .benefits__text
          | повышение инвестиционной #[br]
          | и потребительской ценности #[br]
          | компании;
      .benefits__item.benefits__item--02
        .benefits__icon: +the_svg('benefits_02')
        .benefits__text
          | создание основы #[br]
          | маркетинговой стратегии для #[br]
          | продвижения проекта на рынке;
      .benefits__item.benefits__item--03
        .benefits__icon: +the_svg('benefits_03')
        .benefits__text
          | снижение затрат #[br]
          | на эксплуатацию
      .benefits__item.benefits__item--04.benefits__item--wide
        .benefits__icon: +the_svg('benefits_04')
        .benefits__text
          | комфортную и здоровую среду как для гостей, #[br]
          | так и для персонала, снижая заболеваемость сотрудников #[br]
          | и риски психологического дискомфорта.
      .benefits__item.benefits__item--05.benefits__item--wide
        .benefits__icon: +the_svg('benefits_05')
        .benefits__text
          | возможность конкурентного преимущества #[br]
          | при получении сертификатов LEED и Green Zoom.
