.benefits {
  $this: &;

  margin: vw-size(230) 0;

  &__title {
    @include h3();
    margin-bottom: vw-size(100);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -#{vw-size(60)} -#{vw-size(30)};

  }

  &__item {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    max-width: vw-size(540);
    margin: vw-size(60) vw-size(30);

    &--01 {
      color: $pink;
    }

    &--02 {
      color: $yellow;
    }

    &--03 {
      color: $cyan;
    }

    &--04 {
      color: $purple;
    }

    &--05 {
      color: $red;
    }

    &--wide {
      max-width: vw-size(840);
    }
  }

  &__icon {
    width: vw-size(44);
    height: vw-size(44);
    position: relative;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      top: vw-size(34);
      left: 50%;
      transform: translateX(-50%);
      width: vw-size(30);
      height: vw-size(30);
      border-radius: 50%;
      background: currentColor;
      filter: blur(vw-size(20));
    }
  }

  &__text {
    margin-left: vw-size(36);
    color: $white;
    @include h6();
    @include manrope();
  }
}