.team {
  $this: &;

  @include block-margin();

  &__container {
    //display: flex;
    //align-items: flex-start;
    @include cf();
  }

  &__main {
    float: left;
    width: 50%;
    padding-right: vw-size(6);
    //margin-right: vw-size(12);
    display: flex;
    flex-direction: column;
    @include mobile() {
      width: 100%;
      float: none;
    }
  }

  &__aside {
    flex: 1;
  }

  &__head {
    position: relative;
    margin-bottom: vw-size(12);
    @include mobile() {
      margin-bottom: vw-size-sm(50);
    }
  }

  &__placeholder {
    display: block;
    width: 50%;
    @include mobile() {
      width: 100%;
    }

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
      @include mobile() {
        display: none;
      }
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include h2();
    @include mobile() {
      position: static;
      transform: none;
    }
  }

  &__items {
    //display: flex;
    //flex-wrap: wrap;
    margin: -#{vw-size(6)};
    @include mobile() {
      margin: 0 -#{vw-size-sm(4)};
    }
  }

  &__item {
    float: left;
    width: 25%;
    padding: vw-size(6);

    @include mobile() {
      padding: 0 vw-size-sm(4);
      width: 50%;
      margin-top: vw-size-sm(30);
      &:nth-child(2n) {
        margin-top: vw-size-sm(60);
      }
    }

  }

  &__card {
    display: block;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: linear-gradient(to bottom, #00A8AF00, #00A8AFFF);
      @include anim();
      opacity: 0;
    }

    &:hover {
      #{$this}__img {
        filter: none;
      }

      #{$this}__name {
        background: $red;
      }

      #{$this}__position {
        color: $white;
      }

      &:after {
        opacity: 1;
      }
    }

    &--big {
      #{$this} {
        &__content {
          padding: vw-size(50);
        }

        &__name {
          @include h4();
          margin-bottom: vw-size(22);
          @include mobile() {
            margin-bottom: vw-size-sm(10);
          }
        }

        &__position {
        }

        &__label {
          margin-bottom: vw-size(22);
          @include mobile() {
            margin-bottom: vw-size-sm(10);
          }
        }
      }
    }
  }

  &__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    @include anim();
  }

  &__content {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: vw-size(30);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include mobile() {
      z-index: 1;
      position: relative;
      margin-top: -#{vw-size-sm(48)};
    }
  }

  &__name {
    @include h5();
    text-transform: uppercase;
    padding: vw-size(8);
    background: $gray2;
    margin-bottom: vw-size(12);
    @include anim();
    @include mobile() {
      @include h4();
      padding: vw-size-sm(2) vw-size-sm(5);
      margin-bottom: vw-size-sm(8);
    }
  }

  &__label {
    @include h6();
    @include manrope();
    margin-bottom: vw-size(12);
  }

  &__position {
    @include h6();
    @include manrope();
    color: $gray2;
    @include anim();
  }
}