.team {
  $this: &;

  margin: vw-size(230) 0;

  &__container {
    //display: flex;
    //align-items: flex-start;
    @include cf();
  }

  &__main {
    float: left;
    width: 50%;
    padding-right: vw-size(6);
    //margin-right: vw-size(12);
    display: flex;
    flex-direction: column;
  }

  &__aside {
    flex: 1;
  }

  &__head {
    position: relative;
    margin-bottom: vw-size(12);
  }

  &__placeholder {
    display: block;
    width: 50%;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include h2();
  }

  &__items {
    //display: flex;
    //flex-wrap: wrap;
    margin: -#{vw-size(6)};
  }

  &__item {
    float: left;
    width: 25%;
    padding: vw-size(6);
  }

  &__card {
    position: relative;

    &--big {
      #{$this} {
        &__content {
          padding: vw-size(50);
        }

        &__name {
          @include h4();
          margin-bottom: vw-size(32);
        }

        &__position {
          color: $white;
        }

        &__label {
          margin-top: vw-size(32);
        }
      }
    }
  }

  &__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
  }

  &__content {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: vw-size(30);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    @include h5();
    text-transform: uppercase;
    padding: vw-size(8);
    background: $gray2;
    margin-bottom: vw-size(16);
  }

  &__position {
    @include h6();
    @include manrope();
    color: $gray2;
  }

  &__label {
    @include h6();
    @include manrope();
    color: $gray2;
    margin-top: vw-size(16);
  }
}