.complex
  .c
    .complex__title
      strong
        | МЫ РЕАЛИЗУЕМ КОМПЛЕКС МЕРОПРИЯТИЙ #[br]
        | С ЦЕЛЬЮ ПОВЫШЕНИЯ КОМФОРТНОСТИ, #[br]
      | УЧИТЫВАЯ СОВРЕМЕННЫЕ ТРЕНДЫ ЭКОЛОГИЧЕСКИХ СТАНДАРТОВ И СТАНДАРТОВ БЕЗОПАСНОСТИ.

    img.complex__img(src=require('src/modules/complex/img/img.jpg'))