.complex {
  $this: &;

  @include block-margin();

  &__title {
    @include h3_regular();
    text-align: center;

    strong {
      font-weight: 900;
    }

    span {
      color: $red;
    }
  }

  &__img {
    margin-top: vw-size(230);
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}