.complex {
  $this: &;

  margin: vw-size(230) 0;

  &__title {
    @include h3_regular();
    text-align: center;

    strong {
      font-weight: 900;
    }
  }

  &__img {
    margin-top: vw-size(230);
    display: block;
    max-width: 100%;
    height: auto;
  }
}