.steps
  .c
    .steps__title
      | ЭТАПЫ РАБОТЫ #[br]
      | И СРОК ИСПОЛНЕНИЯ
    .steps__items
      .steps__item
        .steps__number 01
        .steps__head
          | РАБОЧИЙ #[br]
          | ДИЗАЙН-ПРОЕКТ
        .steps__note от 30 рабочих дней

      .steps__item.steps__item--highlight
        .steps__number 02
        .steps__head
          | ТРЕХМЕРНАЯ #[br]
          | КОМПЬЮТЕРНАЯ #[br]
          | ВИЗУАЛИЗАЦИЯ
        .steps__note от 10 рабочих дней

      .steps__item
        .steps__number 03
        .steps__head
          | ДЕКОРИРОВАНИЕ
        .steps__note от 5 рабочих дней

      .steps__item
        .steps__number 04
        .steps__head
          | АВТОРСКИЙ #[br]
          | НАДЗОР
        .steps__note на протяжении всего срока реализации строительных работ
