.steps {
  $this: &;

  @include block-margin();

  &__title {
    @include h2();
    text-align: right;
    margin-bottom: vw-size(110);
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include mobile() {
      flex-direction: column;
    }
  }

  &__item {
    width: vw-size(390);
    position: relative;
    border-left: vw-size(4) solid $cyan;
    padding-left: vw-size(40);
    min-height: vw-size(134);
    display: flex;
    flex-direction: column;
    @include mobile() {
      padding-left: vw-size-sm(32);
      border-left: vw-size-sm(4) solid $cyan;
      min-height: vw-size-sm(104);
    }

    &:nth-child(2n) {
      margin-top: vw-size(200);
      @include mobile() {
        margin-top: 0;
      }
    }

    &--highlight {
      #{$this}__number {
        background-image: linear-gradient(180deg, $red 0%, #000000 75%);
      }
    }

    @include mobile() {
      width: 100%;
      margin-bottom: vw-size-sm(60);
    }
  }


  &__number {
    position: absolute;
    top: -#{vw-size(25)};
    right: 0;
    @include font-size(190);
    font-weight: 900;
    line-height: 1;
    z-index: -1;

    background-image: linear-gradient(to bottom, $gray2, $black 75%);
    background-clip: text;
    color: transparent;
    @include mobile() {
      top: -#{vw-size-sm(20)};
      @include font-size-sm(148);

    }
  }

  &__head {
    @include h4_regular();
    @include mobile() {
      @include h3_regular();
    }
  }

  &__note {
    @include h6();
    @include manrope();
    color: $gray2;
    margin-top: auto;
  }
}