.steps {
  $this: &;

  margin: vw-size(230) 0;

  &__title {
    @include h2();
    text-align: right;
    margin-bottom: vw-size(110);
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    width: vw-size(390);
    position: relative;
    border-left: vw-size(4) solid $cyan;
    padding-left: vw-size(40);
    min-height: vw-size(134);
    display: flex;
    flex-direction: column;

    &:nth-child(2n) {
      margin-top: vw-size(200);
    }

    &--highlight {
      #{$this}__number {
        background-image: linear-gradient(180deg, $red 0%, #000000 75%);
      }
    }
  }


  &__number {
    position: absolute;
    top: -vw-size(25);
    right: 0;
    @include font-size(190);
    font-weight: 900;
    line-height: 1;
    z-index: -1;

    background-image: linear-gradient(to bottom, $gray2, $black 75%);
    background-clip: text;
    color: transparent;
  }

  &__head {
    @include h4_regular();
  }

  &__note {
    @include h6();
    @include manrope();
    margin-top: auto;
  }
}