extends ../pug/_layout

block body
  include ../modules/aboutHead/aboutHead
  include ../modules/mission/mission2
  include ../modules/complex/complex
  include ../modules/benefits/benefits
  include ../modules/steps/steps
  include ../modules/team/team
