.btn {
  $this: &;

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  @include anim();
  line-height: 1.2;
  color: $white;
  background: $red;
  text-decoration: none;
  border-radius: vw-size(46);
  border: vw-size(1) solid transparent;
  min-height: vw-size(44);
  padding: 0 vw-size(24);

  z-index: 1;

  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: none;
    background: $dark-red;
    //filter: drop-shadow(0 vw-size(11) vw-size(20) rgba($yellow, .35));
  }


  &:disabled {
    //color: $gray-dark;
    //background: $gray-light;

    &:hover {
      filter: none;
    }

    &:after {
      //background: $gray-light;
    }
  }

  &--sm {
    min-height: vw-size(32);
  }

  &--lg {
    min-height: vw-size(80);
    padding: 0 vw-size(36);
    @include font-size(20);
  }

  &--outline {
    @include outline-button();
  }

  &--block {
    width: 100%;
  }

  svg {
    width: vw-size(16);
    height: vw-size(16);
    flex-shrink: 0;
  }

  svg + span {
    padding-left: vw-size(8);
  }

  span + svg {
    padding-left: vw-size(8);
  }
}

