.wpcf7-checkbox .wpcf7-list-item, .checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: vw-size(30);
  min-height: vw-size(24);
  @include mobile() {
    min-height: vw-size(20);
  }

  > input {
    display: none
  }

  > span {
    display: block;
    @include font-size(16);
    line-height: 1.2;
    @include mobile() {
      padding-top: vw-size(3);
      @include font-size(14);
      line-height: (16/14);
    }

    &:before, &:after {
      content: '';
      position: absolute;
      @include anim();
    }

    &:before {
      left: 0;
      top: 0;
      width: vw-size(24);
      height: vw-size(24);
      border-radius: vw-size(4);
      border: vw-size(1) solid $black;

    }

    &:after {
      opacity: 0;
      width: vw-size(6);
      height: vw-size(10);
      left: vw-size(9);
      top: vw-size(5);
      border: vw-size(2) solid $white;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg);
      @include anim();
      //@include mobile() {
      //width: vw-size(4);
      //height: vw-size(8);
      //left: vw-size(5);
      //top: vw-size(2);
      //}
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  input:checked ~ span {
    &:before {
      background: $red;
      border-color: $red;

    }

    &:after {
      opacity: 1;
    }
  }

  &:hover {
    > span {
      &:before {
        //border-color: $green;
      }
    }
  }
}
