.input {
  display: block;

  &__label {
    margin-bottom: vw-size(8);
  }

  &__input {
    display: block;
    position: relative;
    z-index: 1;

    input {
      display: block;
      width: 100%;
      height: vw-size(44);
      border: vw-size(1) solid $gray400;
      border-radius: vw-size(8);
      padding: 0 vw-size(14);
      @include anim();
    }


    &:hover, &:focus-within {
      input {
        border-color: $gray600;
      }
    }

    &:focus-within {
      input, &:after {
        //border-color: $green-dark;
      }
    }

    &.wpcf7-not-valid {
      border-color: $red;
    }
  }

  .wpcf7-not-valid-tip {
    display: block;
    position: absolute;
    @include font-size(12);
    color: $red;
  }

  //input, textarea {
  //  display: block;
  //  width: 100%;
  //  @include text2();
  //  color: $black;
  //  @include placeholder($dark-gray);
  //  padding-bottom: vw-size(18);
  //  border-bottom: vw-size(1) solid $dark-gray;
  //  @include anim();
  //  @include mobile(){
  //    @include font-size(16);
  //    padding-bottom: vw-size(10);
  //  }
  //
  //  &:hover, &:focus {
  //    border-color: $black;
  //  }
  //
  //  &.wpcf7-not-valid {
  //    border-color: $red;
  //    color: $red;
  //    @include placeholder($red);
  //  }
  //}
  //
  //textarea {
  //  height: vw-size(120);
  //  min-width: 100%;
  //  max-width: 100%;
  //  resize: vertical;
  //}

}
