.selectize {
  $this: &;


  &-control {
    text-align: left;
    font-weight: normal;


    .item {
      flex: 1;
      //display: flex;
      //align-items: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &-input {
    position: relative;
    height: vw-size(44);
    border: vw-size(1) solid $gray400;
    border-radius: vw-size(8);
    padding: 0 vw-size(45) 0 vw-size(14);
    display: flex;
    align-items: center;
    @include font-size(16);
    line-height: 1.2;
    cursor: pointer;
    @include anim();


    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: vw-size(5);
      height: vw-size(1);
      background: $gray900;
    }

    &:before {
      transform: rotate(45deg);
      right: vw-size(22);
    }

    &:after {
      transform: rotate(-45deg);
      right: vw-size(19);
    }

    &:hover {
      border-color: $gray600;
    }

    &.input-active {
      border-color: $gray600;
    }

    &.disabled {
      background: $black50;
      color: $gray500;

      &:hover {
        border-color: $gray400;
      }
      &:before, &:after {
        background: $gray500;
      }
    }

    //input {
    //  display: none;
    //}
  }


  &-dropdown {
    position: absolute;
    background: #FFFFFF;
    box-shadow: vw-size(0) vw-size(2) vw-size(7) rgba(0, 0, 0, 0.25);
    border: vw-size(1) solid $gray300;
    //border-radius: vw-size(4);
    z-index: 3;
    margin-top: vw-size(2);
    overflow: hidden;
    min-width: vw-size(220);

    .option {
      min-height: vw-size(41);
      padding: vw-size(10);
      display: flex;
      align-items: center;
      cursor: pointer;
      @include anim();

      &.active {
        background: $gray200;
      }

      //&.selected {
      //  background: $red;
      //  color: $white;
      //}
    }
  }

  &-dropdown-content {
    max-height: vw-size(300);
    overflow: auto;
  }
}
