.tabs {

  &__headers {
    background: $gray300;
    border-radius: vw-size(5);
    padding: vw-size(7);
    display: flex;
    margin-bottom: vw-size(24);
  }

  &__header {
    flex: 1;
    text-align: center;
    @include font-size(18);
    min-height: vw-size(47);
    padding: vw-size(8);
    border-radius: vw-size(5);

    &--active {
      background: $white;
    }
  }

  &__bodies {
    position: relative;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include hidden();
    @include anim(.2s);
    //transform: translateY(vw-size(15));

    &--active {
      position: relative;
      @include visible();
      transform: none;
    }
  }
}