@mixin cf() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin anim2($properties) {
  $transitions: "";
  @each $property in $properties {
    $transitions: if($transitions == "", "#{$property} 0.1s ease-in", "#{$transitions}, #{$property} 0.3s ease-in");
  }
  transition: #{$transitions};
}

@mixin anim($duration: .1s) {
  transition: all $duration ease-in;
}

@mixin media-max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin media($condition) {
  @if ($condition == 'lg') {
    @media screen and (max-width: $breakpoint-lg - 1) {
      @content;
    }
  }
  @if ($condition == 'md') {
    @media screen and (max-width: $breakpoint-md - 1) {
      @content;
    }
  }
}

@mixin mobile() {
  @include media('md') {
    @content;
  }
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

@mixin hidden() {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  will-change: opacity, transform;
}

@mixin visible() {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

@mixin sprite($name) {
  background-image: url('img/sprite.svg#' + $name + '-usage');
}

@mixin manrope() {
  font-family: 'Manrope', sans-serif;
}

@mixin gilroy() {
  font-family: 'Gilroy', sans-serif;
}

@mixin header() {
  line-height: 1;
  letter-spacing: -.02em;
}

@function vw-size($size) {
  @return #{$size / 1920 * 100}vw;
}

@mixin font-size($size) {
  font-size: #{vw-size($size)};
}

@mixin h1() {
  @include font-size(110);
  font-weight: 900;
  @include header();
  @include mobile() {
    @include font-size(42);
  }
}

@mixin h2() {
  @include font-size(90);
  font-weight: 900;
  @include header();
  @include mobile() {
    @include font-size(34);
  }
}

@mixin h3() {
  @include font-size(70);
  font-weight: 900;
  @include header();
  @include mobile() {
    @include font-size(26);
  }
}

@mixin h3_regular() {
  @include font-size(70);
  font-weight: 400;
  @include header();
  @include mobile() {
    @include font-size(26);
  }
}

@mixin h4() {
  @include font-size(32);
  font-weight: 900;
  @include header();
  @include mobile() {
    @include font-size(20);
  }

}

@mixin h4_regular() {
  @include font-size(32);
  font-weight: 400;
  @include header();
  @include mobile() {
    @include font-size(20);
  }
}

@mixin h5() {
  @include font-size(24);
  font-weight: 900;
  @include header();
  @include mobile() {
    @include font-size(16);
  }
}

@mixin h6() {
  @include font-size(22);
  font-weight: 400;
  @include header();
  line-height: vw-size(34);
  @include mobile() {
    @include font-size(14);
    line-height: vw-size(21);
  }
}

