// ====================================
// colors
// ====================================

$black: #000000;
$white: #FFFFFF;
$gray1: #F0F2F3;
$gray2: #A6A6A6;
$gray3: #282828;
$red: #BB2649;
$cyan: #00A8AF;
$yellow: #FFA336;
$pink: #FF3696;
$purple: #BA27FF;

// ====================================
// grid settings
// ====================================
$gutter: 15px;
$gutter-half: ($gutter / 2);

$breakpoint-md: 1070px;

$container-sm: 500px;
$container-lg: 1770px;


$content-padding: 78px;
$content-padding-sm: 32px;