// ====================================
// colors
// ====================================

$black: #000000;
$white: #FFFFFF;
$gray1: #F0F2F3;
$gray2: #A6A6A6;
$gray3: #282828;
$red: #BB2649;
$cyan: #00A8AF;
$yellow: #FFA336;
$pink: #FF3696;
$purple: #BA27FF;

// ====================================
// grid settings
// ====================================
$gutter: vw-size(15);
$gutter-half: ($gutter / 2);

$breakpoint-md: vw-size(1070);

$container-sm: vw-size(500);
$container-lg: vw-size(1770);


$content-padding: vw-size(78);
$content-padding-sm: vw-size(32);