html {
  font-family: 'Gilroy', sans-serif;
  color: $white;
  @include h6();
  overflow-x: hidden;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
  background: $black;
  //@include media('md') {
  //  @include font-size(16)
  //  line-height: 1.375;
  //}
}

@media print {
  @page {
    margin: 1cm;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

html, body {
  min-height: 100vh;
}

.c {
  margin-left: auto;
  margin-right: auto;
  //max-width: $container-lg;
  width: 100%;
  padding-left: vw-size(90);
  padding-right: vw-size(90);
  //@include media('lg') {
  //  max-width: $container-md;
  //}
  @include media('md') {
    padding-left: vw-size-sm(25);
    padding-right: vw-size-sm(25);
    //padding-left: vw-size(15);
    //padding-right: vw-size(15);
    //max-width: $container-sm;
  }
}

img[data-src],
img[data-srcset] {
  min-height: vw-size(1);
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.small {
  font-size: 0.85rem;
  opacity: 0.5;
}

.animated {
  & > * {
    visibility: hidden;
  }
}

.nowrap {
  display: inline;
  white-space: nowrap;
}

.content {
  padding: $content-padding 0;
  @include mobile() {
    padding: $content-padding-sm 0;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 1em;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.fullWidth {
  position: relative;
  width: calc(100vw - var(--scrollbar-width, vw-size(0)));
  left: 50%;
  transform: translateX(-50%);

  //margin-left: calc(-100vw / 2 + vw-size(500) / 2);
  //margin-right: calc(-100vw / 2 + vw-size(500) / 2);
}
