.about {
  $this: &;

  position: relative;
  @include block-margin();

  &__bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: vw-size(1741);
    top: vw-size(430);
    z-index: -1;
    @include mobile() {

    }
  }

  &__container {
    display: flex;
    @include mobile() {
      flex-direction: column;
    }
  }

  &__sup {
    @include font-size(36);
    line-height: 1;
    margin-bottom: vw-size(60);
    color: $red;
    @include mobile() {
      @include font-size-sm(20);
      margin-bottom: vw-size-sm(16);
    }
  }

  &__title {
    white-space: nowrap;
    @include h2();

    span {
      color: $cyan;
    }
  }

  &__aside {
    max-width: vw-size(690 + 50);
    padding-left: vw-size(50);
    margin-left: auto;
    @include mobile() {
      max-width: 100%;
      margin: 0;
      margin-top: vw-size-sm(48);
      padding: 0;
    }

    > * {
      margin-bottom: vw-size(120);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__value {
    @include h2();
  }

  &__value + &__label {
    margin-top: vw-size(18);
  }

  &__label + &__value {
    margin-top: vw-size(18);
  }

  &__label {
    @include manrope();
    @include font-size(22);
    line-height: vw-size(34);
    color: $gray2;
    @include mobile() {
      @include font-size-sm(14);
      line-height: vw-size-sm(21);
    }
  }


  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

}