.about
  .c
    .about__container
      .about__main
        .about__sup LAB 17 специализируется на
        .about__title
          | ПРОЕКТИРОВАНИИ,#[br]
          span ДИЗАЙНЕ#[br]
          | И КОНСАЛТИНГЕ
      .about__aside
        .about__item
          .about__value ~ 150 000
          .about__label клиентов смогли приобщиться к здоровому образу жизни в фитнес—клубах созданных нашей командой.
        .about__item
          .about__value > 200 000 м.кв.
          .about__label за последнее десятилетие мы спроектировали спортивного пространства.
        .about__row
          .about__item
            .about__label реализовано
            .about__value 50
            .about__label фитнес-центров

          .about__item
            .about__label &nbsp;
            .about__value +
            .about__label &nbsp;

          .about__item
            .about__label &nbsp;
            .about__value 5
            .about__label велнес-центров
