.projects {
  $this: &;

  margin: vw-size(230) 0;

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -#{vw-size(30)};
    @include mobile() {
      margin: -#{vw-size-sm(15)};
    }
  }

  &__item {
    width: 25%;
    padding: vw-size(30);
    @include mobile() {
      width: 50%;
      padding: vw-size-sm(15);
    }
  }

  &__card {
    display: block;
    position: relative;
    border: vw-size(1) solid $gray3;
    padding: vw-size(55);
    @include anim2(border-color background);
    @include mobile() {
      border-width: vw-size-sm(2);
      padding: vw-size-sm(23);
    }

    &:hover {
      #{$this}__img {
        filter: none;
      }
    }

    &--premium {
      &:hover {
        border-color: $cyan;

        #{$this}__label {
          background: $cyan;
        }
      }
    }

    &--business {
      &:hover {
        border-color: $red;

        #{$this}__label {
          background: $red;
        }
      }
    }

    &--comfort {
      &:hover {
        border-color: $yellow;

        #{$this}__label {
          background: $yellow;
        }
      }
    }
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 100%;
    transform: rotate(90deg);
    @include h5();
    padding: vw-size(8);
    background: $gray2;
    transform-origin: 0 100%;
    @include anim2(background);
    @include mobile() {
      padding: vw-size-sm(2) vw-size-sm(5);
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    @include anim2(filter);
  }
}