.clients {
  $this: &;

  padding: vw-size(230) 0;

  &__title {
    @include h1();
    margin-bottom: vw-size(230);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -vw-size(30);
  }

  &__item {
    padding: vw-size(30);
  }

  &__card {
    display: block;
    border: vw-size(2) solid $gray3;
    padding: vw-size(58);
    @include anim();

    &:hover {
      border-color: $cyan;
    }
  }

  &__content {
    background: $white;
    position: relative;
    width: vw-size(120);

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}