.header {
  $this: &;

  .c {
    display: flex;
    align-items: center;
    height: vw-size(148);
  }

  &__menu {
    margin: 0 auto;

    ul, li {
      margin: 0;
      padding: 0;

    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
    }

    li {
      padding: 0 vw-size(12);
    }

    a {
      @include h5();
      text-transform: uppercase;
      text-decoration: none;
      @include anim();

      &:hover {
        color: $cyan;
      }
    }
  }

  &__language {
    display: flex;

    a {
      position: relative;
      @include font-size(24);
      line-height: 1;
      text-decoration: none;
      width: vw-size(70);
      height: vw-size(40);
      display: flex;
      align-items: center;
      justify-content: center;
      border: vw-size(2) solid $gray3;
      margin: 0 -vw-size(1);
      @include anim();

      &.active {
        border-color: $cyan;
        z-index: 1;
      }

      &:hover {
        color: $cyan;
      }
    }
  }
}
