header.header
  .c
    a(href='/'): img.header__menu(src=require('src/img/logo.svg'))

    .header__menu
      ul
        li: a(href='#') о компании
        li: a(href='#') портфолио
        li: a(href='#') партнеры
        li: a(href='#') команда
        li: a(href='#') наши клиенты
        li: a(href='#') контакты

    .header__language
      a(href='#').active RU
      a(href='#') ENG