.footer {
  $this: &;

  margin-top: auto;
  position: relative;
  border-top: vw-size(1) solid $gray3;
  overflow: hidden;
  padding: vw-size(130) 0;

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: vw-size(1014);
  }

  &__content {
    position: relative;
    left: 50%;
    margin-left: vw-size(160);
  }

  &__title {
    @include font-size(60);
    line-height: 1;
    font-weight: 900;
    margin-bottom: vw-size(70);
  }

  &__info {
    @include h6();
    @include manrope();

    a {
      text-decoration: none;
    }
  }

  &__phone {
    margin: vw-size(20) 0;

    a {
      @include font-size(40);
      line-height: 1;
      color: $cyan;
      text-decoration: none;
      font-weight: 900;
    }
  }

  &__links {
    margin-top: vw-size(72);
    display: flex;
    align-items: center;

    a {
      @include font-size(20);
      line-height: 1;
      color: $red;
      margin-right: vw-size(40);
      text-decoration: none;
      letter-spacing: .4em;
    }
  }
}
