footer.footer
  img.footer__img(src=require('src/modules/footer/img/bg.png'))
  .footer__content
    .footer__title СВЯЗАТЬСЯ С НАМИ
    .footer__info Москва, Ленинский проспект, д. 129, к. 1
    .footer__phone: a(href='#') +7 903 793 63 61
    .footer__info: a(href='#') info@labseventeen.com
    .footer__links
      a(href='#') FACEBOOK
      a(href='#') INSTAGRAM