.footer {
  $this: &;

  margin-top: auto;
  position: relative;
  border-top: vw-size(2) solid $gray3;
  background: $black;
  overflow: hidden;
  padding: vw-size(130) 0;
  @include mobile() {
    padding: vw-size-sm(60) 0 vw-size-sm(310);
    border-top: vw-size-sm(2) solid $gray3;;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: vw-size(1014);
    @include mobile() {
      top: auto;
      bottom: 0;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    left: 50%;
    margin-left: vw-size(160);
    @include mobile() {
      margin: 0 vw-size-sm(25);
      left: 0;
    }
  }

  &__title {
    @include font-size(60);
    line-height: 1;
    font-weight: 900;
    margin-bottom: vw-size(70);
    @include mobile() {
      @include font-size-sm(32);
      margin-bottom: vw-size-sm(45);
    }
  }

  &__info {
    @include h6();
    @include manrope();

    a {
      text-decoration: none;
    }
  }

  &__phone {
    margin: vw-size(20) 0;
    @include mobile() {
      margin: vw-size-sm(10) 0;
    }

    a {
      @include font-size(40);
      line-height: 1;
      color: $cyan;
      text-decoration: none;
      font-weight: 900;
      @include mobile() {
        @include font-size-sm(32);
      }
    }
  }

  &__links {
    margin-top: vw-size(72);
    display: flex;
    align-items: center;
    @include mobile() {
      margin-top: vw-size-sm(30);
    }

    a {
      @include font-size(20);
      line-height: 1;
      color: $red;
      margin-right: vw-size(40);
      text-decoration: none;
      letter-spacing: .4em;
      @include mobile() {
        margin-right: vw-size-sm(20);
        @include font-size-sm(12);
      }
    }
  }
}
