.mission
  .mission__title НАША МИССИЯ
  .mission__container
    img.mission__img(src=require('src/modules/mission/img/img2.jpg'))
    .mission__text
      | Создавать уникальные, эффективные,
      | инновационные фитнес-пространства
      | с помощью универсальных, проверенных
      | опытом и временем решений.