.mission {
  $this: &;

  margin: vw-size(230) 0;
  position: relative;

  &__title {
    position: absolute;
    @include font-size(290);
    line-height: 1;
    font-weight: 900;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);

    background-image: linear-gradient(to bottom, $gray2, $black);
    background-clip: text;
    color: transparent;
  }

  &__container {
    display: flex;
    align-items: center;
    max-width: vw-size(1470);
    margin: 0 auto;
    padding: vw-size(125) vw-size(15) 0;
    position: relative;
    z-index: 1;
  }

  &__text {
    @include manrope();
    @include font-size(42);
    line-height: vw-size(54);
    font-weight: 200;
    padding-left: vw-size(72);
  }
}