.contacts {
  $this: &;

  padding: vw-size(230) 0;

  &__title {
    @include h1();
    margin-bottom: vw-size(230);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -vw-size(60) 0;
    align-items: flex-start;
  }

  &__item {
    width: 50%;
    margin: vw-size(60) 0;
    border-left: vw-size(4) solid $cyan;
    padding-left: vw-size(80);
  }

  &__label {
    color: $gray2;
    @include font-size(20);
    letter-spacing: .4em;
    @include manrope();
    margin-bottom: vw-size(32);
  }

  &__value {
    @include font-size(32);
    @include manrope();
    max-width: vw-size(500);

    a {
      text-decoration: none;
    }
  }

  &__phone {
    @include gilroy();
    @include font-size(60);
    line-height: 1;
    font-weight: 900;
    color: $cyan;
  }

  &__links {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: vw-size(32);
      @include font-size(32);
      letter-spacing: .4em;
      color: $red;
    }
  }
}
