.contacts
  .c
    .contacts__title КОНТАКТЫ
    .contacts__items
      .contacts__item
        .contacts__label АДРЕС
        .contacts__value Москва, Ленинский проспект, д.&nbsp;129, к.&nbsp;1

      .contacts__item
        .contacts__label ПОЧТА
        .contacts__value: a(href='#') info@labseventeen.com

      .contacts__item
        .contacts__label ТЕЛЕФОН
        .contacts__value: a.contacts__phone(href='#') +7 903 793 63 61

      .contacts__item
        .contacts__label СОЦ СЕТИ
        .contacts__value
          .contacts__links
            a(href='#') FACEBOOK
            a(href='#') INSTAGRAM
