.frontSlider {
  $this: &;

  &__slider {
    overflow: hidden;
    position: relative;
  }

  &__slides {
    display: flex;
  }

  &__slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: vw-size(880);
    padding: vw-size(70) 0;
    padding-right: vw-size(180);
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% + vw-size(180));
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__title {
    @include h1();
    margin: auto 0;
  }

  &__footer {
    display: flex;
  }

  &__note {
    @include h4();
    background: $red;
    padding: vw-size(10);
  }

  &__aside {
    margin-left: auto;
    @include h5();
    display: flex;
    align-items: center;
  }

  &__separator {
    display: block;
    background: $cyan;
    width: vw-size(80);
    height: vw-size(1);
    margin: 0 vw-size(20);
  }

  &__button {
    position: absolute;
    right: vw-size(60);
    bottom: vw-size(60);
    width: vw-size(60);
    height: vw-size(60);
    background: $black;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include anim();

    svg {
      width: vw-size(32);
      height: vw-size(32);
    }

    &:disabled {
      @include hidden();
    }

    &:hover {
      color: $cyan;
    }
  }
}